{% extends 'base.html' %}

{% block title %}Jurnallar{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="book-cover">
            <img src="https://media.fupress.com/cover/n/14129">
             <!-- static 'images/book-cover.jpg'  -->
        </div>



        <div class="book-details">
            <h2>International Teaching and Learning Settings in the Academic Professionalisation of Adult Education</h2>
            <h3>An International and Comparative Study</h3>
            <p class="date">Date: 2054-04-12</p>
            <button class="view-more">View More</button>
        </div>
        
    </div>
</div>
{% endblock %}
