{% extends 'base.html' %}
{% load static%}
{% block title %}All news{% endblock %}

{% block content %}
<section class="container">

    <div class="row">

        {% for i in news %}
        <div class="col-md-3 mb-5">
            <a href="{% url 'news_detail' i.id %}" class="card">

                <img class="card-img-top" src="{{ i.thumb.url }}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">{{i.title}}</h6>
                    <p class="card-text">
                        {{ i.discription|slice:"0:32" }}...
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}


    </div>

</section>
{% endblock %}