{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bosh Sahifa{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
    <header>
        <div class="top-bar">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <div class="top-right">
                <span class="language-switch">UZ | RU | EN</span>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook-square' ></i></a>
                    <a href="#"><i class='bx bxl-medium-old' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin-square' ></i></i></a>
                </div>
            </div>
        </div>
        <nav class="main-nav">
            <a href="#">Bosh sahifa</a>
            <a href="#">Biz haqimizda</a>
            <a href="#">Kitoblar</a>
            <a href="#">Bog'lanish</a>
            <a style="margin-left: -150px;" href="#" class="search-icon"><i class='bx bx-searchh'></i></a>
        </nav>
    </header>

{% block content %}{% endblock %}


    <div class="pas">
     <footer>
         <p class="screj">Mahorat & Management</p>
         <p class="proj">Location</p>
         <p class="friday">Social</p>
         <p class="projec">Safdosh Street,10</p>
         <p class="project">Tashkent, Uzbekisatan</p>
         <p class="mon">Opening Hours</p>
         <p class="mond">Monday-Friday</p>
         <p class="monda">10:00 AM - 08:00 PM</p>
         <p class="monday">Tel: +998 95 195-00-55</p>
    </footer>
    </div>

    <div class="icon">
        <a href="#"><i class='bx bxl-facebook-square'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-telegram' ></i></a>
        <a href="#"><i class='bx bxl-youtube'></i></i></a> 
    </div>
</body>
</html>
