{% extends 'base.html' %}

{% block title %}Jurnallar{% endblock %}

{% block content %}
<div class="card">
    {%for i in book%}
    <div class="card-body" style="margin: 2%;">
        <div class="book-cover">
            {% if i.thumb %}
            <img src="{{i.thumb.url}}">
            {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS01IODKDd-XpRnvBbSDlcg6scby3AOYc2ZfA&s">
            {% endif %}
        </div>
        <div class="book-details">
            <h2>{{i.name}}</h2>
            <h3>{{ i.description|slice:":50" }}{% if i.description|length > 50 %}...{% endif %}</h3>      
            <h4 class="date">{{i.date}}</h4>
            <button class="view-more">View More</button>
        </div>
    </div>
    {%endfor%}
</div> <br>

{% endblock %}